.page {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 45px 0 60px;
  align-items: center;
}
