.content {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .content {
    width: 80%;
  }
}

@media screen and (min-width: 1048px) and (max-width: 1279px) {
  .content {
    width: 85%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1047px) {
  .content {
    width: 92%;
  }
}

@media screen and (min-width: 320px) and (max-width: 979px) {
  .content {
    width: 88%;
  }
}
