.profile__editButton {
  margin-left: 18px;
}

.profile__editButton:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 979px) {
  .profile__editButton {
    margin-left: 10px;
  }
}
