.profile__occupation {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 979px) {
  .profile__occupation {
    margin: 0 auto 50px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
